@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Member Id: @Model.NgdMemberId</p>
    <p>Member Name: @Model.NgdUserName</p>
    <p>Member Password: @Model.NgdPassword</p>
    <p>Member FullName: @Model.NgdFullName</p>
    <p>Member Email: @Model.NgdEmail</p>
</div>

